html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

* body{
    
    background-color: $white;
    font-family: Roboto, sans-serif;
    @include fonts(400px, 14px, 0.03em);
}
.title-h2, 
.title-h3{
    color: $title-text-color; 
    padding: 0;
}
.title-h3{
    @include fonts(700px, 14px, 1.14em);

}
.text{
    color: $primery-text-color;
    line-height: 1.71;
}

.container{
   @extend %margin-auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
   
}
