.icons-item-client:not(:last-child){
    margin-right: 30px;
}

.icons-link-clients{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    border: 1px solid $fill-icons;
    border-radius: 4px;
    fill: $fill-icons;
}

.icons-link-clients:hover,
.icons-link-clients:focus  {
    border: 1px solid $accent-color;
    fill: $accent-color;
    transition: 250ms;
}
.icons-link-clients:hover .client-icons-svg,
.icons-link-clients:target .client-icons-svg{
     fill: $accent-color; 

     transition: 250ms;
}