.title-h2{
    margin-bottom: 50px;
   
    text-align: center;
    @include fonts(700, 36px, 1.19em);
}

.cont-client,
.cont-doing,
.title-client
{
@include padding (94px, 0px, 94px, 0px);
}

.position-doing{
    position: relative;

}
.title-doing{
    position: absolute;
    @extend %flex-aline-justify;
    bottom: 0;
    left: 0;
   
    @include size (100%, 24%);

    background-color: rgba(47, 48, 58, 0.8);
    color: $white;
    
    font-family: Roboto;
    @include fonts(700, 14px, 1.14em);

    letter-spacing: 0.03em;
    text-transform: uppercase;

    opacity: 1;
}

