.backdrop{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 528px;
    height: 581px;

    background-color: $white;
}

.close-modal{
    @extend %flex-aline-justify;

    margin-top: 8px;
    margin-left: auto;
    margin-right: 8px;

    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: $white;

    &:hover .modal-icons-close,
    &:focus .modal-icons-close{
        @extend %hover--fill-accent;
} 
}
.modal-icons-close{
    width: 11px;
    height: 11px;
}

.form-fild{
    display: flex;
    flex-direction: column;
    margin: 0 40px 10px 40px;
    position: relative;
}
.form-fild-textarea{
    display: flex;
    flex-direction: column;
    margin: 0 40px 0 40px;
    position: relative;
}
.title-textarea{
    padding-bottom: 10px;
    font-size: 12px;
    color: $primery-text-color;
}
.title-modal{
    padding-bottom: 12px;

    text-align: center;

    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;

}
.form-fild input{
    border-radius: 4px; 
    padding-left:42px;
    border: 1px solid rgba(33, 33, 33, 0.2); 
}
.form-fild label{
    margin-bottom: 6px;
    font-size: 12px;
    color: $primery-text-color;
}
.form-fild-textarea textarea{
    color: $primery-text-color;
    font-size: 12px;    
    margin: 0;
    padding: 12px 16px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2); 
    
}
.size-modal{
    height: 40px;
}
.form-input:focus ~  .modal-icon-svg {
    @extend %hover--fill-accent;
  }
.form-input:focus {
    outline: none;
    border-color: $accent-color;
    transition: 250ms;
  } 
.contract{
    padding-left: 77px;
    padding-top: 20px;
    
    font-weight: normal;
    font-size: 14px;
    line-height: 1,7;
    color: $primery-text-color;
}
 .checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }  

  .modal-icon-checbox{
    position: absolute;
    display: inline-block;  
    width: 16px;
    height: 16px;
    margin-left: -25px;
    
    border: 2px solid $title-text-color;  
    border-radius: 2px;
  }
  .checkbox:checked + .modal-icon-checbox{
   background-color: $accent-color;
   border: 1px solid $accent-color;
 
   transition: 250ms;
  } 

.title-contract{
    text-decoration: underline;
    color: $accent-color;
    
}
.btn-modal{
    display: flex;

    padding: 10px 55px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    
    min-width: 200px;
    border: 1px transparent;
        
    border-radius: 4px;
    background-color: $accent-color;
    color: $white; 

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    font-family: Roboto, sans-serif;

&:hover,
&:focus{
    border: 1px solid $accent-color;
    background-color: $white;
    color: $accent-color;
    transition: 250ms;
}
}
.modal-icon{
    position: absolute;
    
    top: 50%;
    left: 16px;
    display: inline-block;
}
.modal-icon-svg{    width: 18px;
    height: 18px;}