.card-team{
    text-align: center;
    background: $white;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team{
    @include padding (94px, 0px, 94px, 0px);
    
    background-color: $not-white;
}

.title-team{
    margin-top: 30px;
    margin-bottom: 10px;

    @include fonts(500, 16px, 1.19em);
}

.team-text{
    @include fonts(500, 16px, 1.36em);
    @include padding (0px, 0px, 16px, 0px);
    
}
.client-icons,
.social-icons{
    @extend %flex-justify;
}
.icons-item:not(:last-child){
    margin-right: 10px;
    @include padding (0px, 0px, 30px, 0px);
}
.icons-link{
    @extend %flex-aline-justify;

    @include size (44px, 44px);
    
    fill: $fill-icons; 
    border-radius: 50%;

    @extend %animation;
    
    &:hover .social-icons-svg,
    &:focus .social-icons-svg{
     fill: $white; 
}
}
.social-icons-svg{
    @include size (20px, 20px);
}
.icons-link:hover,
.icons-link:focus{
    background-color: $accent-color;
    @extend %hover--fill-accent
}

