@mixin fonts ($fs, $fw, $lh){ 
    font-weight: $fs;
    font-size: $fw;
    line-height: $lh;
}
@mixin padding_position ($pt, $pr, $pb, $pl){
    padding-top: $pt;
    padding-right: $pr;
    padding-bottom: $pb;
    padding-left: $pl;
}