%flex-aline{
    display: flex;
    align-items: center;
}
%flex-justify{
    display: flex;
    justify-content: center;
}
%flex-aline-justify{
    display: flex;
    align-items: center;
    justify-content: center;
}
%hover--accent-color{
    color: $accent-color;
    transition: 250ms;  
}

%margin-auto{
    margin-left: auto;
    margin-right: auto;
}

%border-transparent{
    border: 1px transparent;  
}

%border-trans-solid{
    border: 1px solid transparent;  
}
%border-radius{
    border-radius: 4px;  
}
%uppercase{
    text-transform: uppercase;
}